{% extends 'base.html' %} {% block title %}
  {{ blog.title }}
{% endblock %}
{% block start %}
  <div class="w-full mx-auto pt-10">
    <h1 class="text-3xl font-bold sm:text-3xl mb-4">{{ blog.title }}</h1>
    <div class="w-full h-full group relative overflow-hidden rounded">
      <img src="{{ blog.image.url }}" alt="" class="group-hover:scale-110 transition ease-in-out duration-500 w-full h-full object-cover" />
    </div>
    <p class="text-lg mt-4">View Count: {{ blog.view_count }}</p>
    <p class="text-2xl mt-4">{{ blog.content }}</p>
  </div>
{% endblock %}
