<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
      {% block title %}
        Learning
      {% endblock %}
    </title>
  </head>
  <body class="min-h-screen">
    <main class="font-mono relative flex flex-col justify-between min-h-screen">
      <div>
        {% include 'navbar.html' %}
      </div>
      <div class="flex-grow px-4 lg:px-20">
        {% block start %}

        {% endblock %}
      </div>
      <div>
        {% include 'footer.html' %}
      </div>
    </main>
  </body>
</html>
